script.
    $(function(){
        $('.arrow-down').click(function(){
            $('.arrow-down').hide();
            $('.arrow-up').show();


        });
        $('.arrow-up').click(function(){
            $('.arrow-up').hide();
            $('.arrow-down').show();


        });




    });